:root {
    --primary: #FF8100;
    --dimBackground: #F5F5F2;
    --text: #323232;
    --secondaryText: #6A6A6E;

    --codeInline: var(--codeKeyword);
    --codeKeyword: #AD3DA4;
    --codeType: #3900A0;
    --codeCall: #6C36A9;
    --codeProperty: #326D74;
    --codeNumber: #1C00CF;
    --codeString: #C41A16;
    --codeComment: #5D6C79;
    --codeDotAccess: #000000;
    --codePreprocessing: #63381F;
}

@media (prefers-color-scheme: dark) {
    :root {
        --dimBackground: #333333;
        --text: #DDDDDD;
        --secondaryText: #ABABAB;
        
        --codeKeyword: #FC5FA3;
        --codeType: #D0A8FF;
        --codeCall: #A167E6;
        --codeProperty: #67B7A4;
        --codeNumber: #D0BF69;
        --codeString: #FC6A5D;
        --codeComment: #6C7986;
        --codeDotAccess: #DDDDDD;
        --codePreprocessing: #63381F;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

header .wrapper {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.2em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: flex-end;
}

nav ul {
    margin-bottom: 0px;
    padding-left: 40px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
}

nav li a.selected {
    color: var(--primary)
/*    text-decoration: underline;*/
}

h1 {
    margin-bottom: 24px;
    font-size: 2em;
    font-weight: 600;
}

h2 {
    margin: 20px 0;
    font-weight: 600;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 16px;
    line-height: 1.4;
}

a {
    color: inherit;
}

a:hover {
    color: var(--primary);
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

hr {
    border-top: 4px solid var(--secondaryText);
    border-bottom: none;
    margin: 16px 0px;
}

img {
    width: 100%;
    max-width: 900px;
}

.description {
    margin-bottom: 40px;
}

.latest-content {
    color: var(--secondaryText);
    margin-bottom: 0px;
}

.item-list > li {
    display: block;
    margin-bottom: 40px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 8px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.date {
    margin-top: 16px;
    color: var(--secondaryText);
}

.tag-list {
    margin-top: 8px;
    margin-bottom: 15px;
}

.item-list .tag-list {
    margin-bottom: 0px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--dimBackground);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
    color: var(--secondaryText);
    font-size: 0.9em;
    font-weight: bold;
}

.tag-list li:hover {
    background-color: var(--primary);
}

.tag-list li:hover a {
    color: var(--text);
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: var(--secondaryText);
}

code {
    font-family: -ui-monospace, monospace;
    color: var(--codeInline);
}

pre {
    margin-bottom: 1.5em;
    background-color: var(--dimBackground);
    padding: 16px 0;
    border-radius: 4px;
}

pre code {
    font-family: -ui-monospace, monospace;
    display: block;
    padding: 0 20px;
    color: var(--text);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: var(--codeKeyword);
}

pre code .type {
    color: var(--codeType);
}

pre code .call {
    color: var(--codeCall);
}

pre code .property {
    color: var(--codeProperty);
}

pre code .number {
    color: var(--codeNumber);
}

pre code .string {
    color: var(--codeString);
}

pre code .comment {
    color: var(--codeComment);
}

pre code .dotAccess {
    color: var(--codeDotAccess);
}

pre code .preprocessing {
    color: var(--codePreprocessing);
}
